# NVIDA NIM AI API Key
NVIDA_API_KEY = your_nvidia_key_here

# PostreSQL Database Settings
DB_HOST = host.docker.internal
DB_PORT = 5432
DB_USER = postgres
DB_PASSWORD = your_password_key_here
DB_NAME = ai_chatbot_db

# JWT 토큰 설정
JWT_SECRET_KEY=your_JWT_key_here
JWT_ALGORITHM=HS256

# LLM API key
OPENAPI_API_KEY=your_openai_key_here

# 
VITE_API_BASE_URL=http://localhost:8000